# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/ocr_ui/build/
/ocr_ui/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/